body{
    margin: 30px 0 0 0;
    background-color: gray;
}
.navbox{
    margin-left: 30px;
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 20px;
    position: absolute;
    text-align: center;
}
.navbox img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding: 20px;
}
.box {
    background-color: white;
    max-width: 50%;
    margin: auto;
    border-radius: 30px;
    box-shadow: 20px 20px 0 0 dimgray;
}
.top {
    text-align: center;
    background-color: plum;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    
}
.box2 {
    max-width: 85%;
    margin: auto;
}
textarea{
    resize: none;
}
.box2 h2 {
    margin:30px 0 0 0;
}
.name {
    display: inline-flex;
    margin-bottom: 30px;
}
.name input{
    height: 20px;
    width: 250px;
    margin-left: 10px;
    background-color: pink;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}
h3 {
    margin: 0;
}
.rate h3 {
    margin-bottom:20px ;
}
.rate input{
    scale: 200%;
    margin: 0 25px 30px 25px ;
    accent-color: pink;
}
.comm h3{
    margin-bottom: 10px;
}
.comm textarea{
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
}
.comm button{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: pink;
    border: 0;
    padding: 10px;
}
.comm button:hover{
    scale: 110%;
}
.box2{
    padding-bottom: 20px;
}
footer{
    margin-top: 85px;
    color: black;
    height: 75px;
    background-color: lightblue;
    text-align: center;
}
footer p {
    margin-top: 0;
    padding-top: 25px;
}
