html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    text-align: center;
    background: url("bg.jpg") no-repeat;
    background-size: 100%;
    max-height: 100%;
    max-width: 100%;

}
nav ul li{
    display: inline-block;
    padding: 25px;
}
nav a{
    text-decoration: none;
    color: black;
    height: 50px;
    width: 50px;
}
nav ul li:hover{
    background-color: pink;
    transition: 1ms;
}
.navbar{
    background-color: lightblue;
   
}
nav ul {
    margin: 0;
    text-align: right;
}
.pfp {
    height: 300px;
    width: 300px;
    
}
.intro{
    color: white;
    padding-top: 100px;
    margin-bottom: 300px;
}
.welcome {
    font-size:35px;
    margin-bottom: 0;
}
button{
    height: 40px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 20px;
}
.skills ul {
    width: 100%;
    padding: 0;
    list-style-type:none;
    display: inline-block;
    text-align: left;
}
.skills{
    padding-top: 30px;
    color: black;
    margin: auto;
    margin-bottom: 50px;
}
.info{
    text-align: center;
    background-color: white;
    max-width: 1100px;
    padding-bottom: 30px;
    margin: auto;
    border-radius: 20px;
}
.educ{
    padding-top: 30px;
    color: black;
    margin: auto;
    margin-bottom: 50px;
}
.educ ul{
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}
.proj{
    padding-top: 30px;
    color: black;
    margin-bottom: 50px;
}
.proj ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}
.proj ul li {
    padding-bottom: 10px;
}
.contacts{
    padding-top: 30px;
    color: black;
    margin-bottom: 50px;
}
.contacts ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}
.contacts ul li {
    padding-bottom: 10px;
}
footer{
    margin-top: 50px;
    color: black;
    height: 60px;
    background-color: lightblue;
}
footer p {
    margin-top: 0;
    padding-top: 25px;
}
